@import "variables";

.menu {
  background-color: $dark-gray;
  left: 0;
  max-width: 70px;
  min-height: 100vh;
  padding: 10px;
  position: fixed;
  top: 0;

  .logo {
    height: 50px;
    width: 50px;
  }

  .link {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;

    &:focus {
      box-shadow: none;
    }

    .active,
    &:hover,
    &:focus {
      .icon {
        color: $blue;
        transition: $transition;
      }
    }

    .icon {
      color: $light-gray;
      font-size: 19px;
      width: 30px;
    }
  }
}
