@import "variables";

.cell {
  display: flex;
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  letter-spacing: 0.6px;
  padding: 12px 8px;

  &:first-of-type {
    padding-left: 12px;
  }

  &:last-of-type {
    padding-right: 12px;
  }
}
